<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Got_token</title>
</head>
<body>

    <h1 style="text-align:center;">Thanks for connecting your Garmin account</h1>
    <h2 style="text-align:center;">Your access token is:</h2>
    <div style="text-align: center;">
        <h2 style="color:blue;text-align:center;"></h2> {{ access_token }}</h2>
    </div>
    <br>
    <h2 style="text-align:center;">Your access token secret is:</h2>
    <div style="text-align:center;">
        <h2 style="text-align:center;color:blue"></h2> {{ access_token_secret }}</h2>
    </div>
    <br>
    <br>
    <form style="text-align: center;" action="/" method="get">
        <button name="Request" type="submit">Go home</button>
    </form>
  
</body>
</html>


