<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

    <h1 style="text-align:center;">Garmin Connect Developer Program - API web application</h1>
    <h2 style="text-align:center;">Open Data Connect</h2>
    <br>
    <br>
    <form style="text-align: center;" action="/request" method="get">
        <button name="Request" type="submit">Connect to your Garmin account</button>
    </form>
    <br>
    <form style="text-align: center;" action="/data" method="get">
        <button name="Request" type="submit">Get respiration data (last 24 hours)</button>
    </form>
    <br>
    <form style="text-align: center;" action="/data_all" method="get">
        <button name="Request" type="submit">Get respiration data (last 10 days)</button>
    </form>
    <br>
    <br>
    <br>
    <form style="text-align: center;" action="/test" method="get">
        <button name="Request" type="submit">delete</button>
    </form>
    <br>
    
  
</body>
</html>


