<!DOCTYPE html>
<html>
<head>
    <title>Garmin Sleep Data</title>
</head>
<body>
    <h1>Garmin Sleep Data</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Sleep Start Time</th>
                <th>Sleep End Time</th>
                <th>Duration (ms)</th>
                <th>Deep Sleep Time (ms)</th>
                <th>Light Sleep Time (ms)</th>
                <th>Rem Sleep Time (ms)</th>
                <th>Awake Time (ms)</th>
            </tr>
        </thead>
        <tbody>
            {% for sleep in sleeps %}
            <tr>
                <td>{{ sleep['calendarDate'] }}</td>
                <td>{{ sleep['sleepStartTimestampGMT'] }}</td>
                <td>{{ sleep['sleepEndTimestampGMT'] }}</td>
                <td>{{ sleep['duration'] }}</td>
                <td>{{ sleep['deepSleepSeconds'] * 1000 }}</td>
                <td>{{ sleep['lightSleepSeconds'] * 1000 }}</td>
                <td>{{ sleep['remSleepSeconds'] * 1000 }}</td>
                <td>{{ sleep['awakeSleepSeconds'] * 1000 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
